.c-menu{
    text-align: center;
    padding-top: 25px;
    font-size: 40px;
    font-family: 'monster';
    color: #3990ac;

       &__link{
         padding-right:20px;  
         color: #3990ac;

       }
}